* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #298880;

}

.logo {
    color: white;
}

.carrito {
    color: white;
}

.contenedorImagen{
    width: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.imagenPrincipal {
    width: 100%;
    height: 110vh;

}

.contenedorBuscador {
    width: 100%;
    height: 18vh;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 2%;
}

.buscador {
    width: 30%;
    height: 30%;
    padding-left: 1%;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
}

.botonBuscador {
    margin-right: 10%;
    padding: 6px;
}

.fondo {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 230vh;

}

.contenedorPadre {
    display: flex;
    width: 90%;
    height: 220vh;
    justify-content: center;
    align-items: start;
    padding: 1%;
    background-color: #EDF2F4;
}

.contenedorFiltro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 29%;
    width: 30%;
    gap: 5%;

}

.filtroCategoria {
    font-size: 1.2rem;
    margin-top: 30%;
}

.categoria {
    font-size: 1rem;
    list-style: none;
}



.contenedorFlex {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: #298880;

}

.gridCards {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 70%);
    gap: 2%;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid silver;
    padding: 2%;
    padding-bottom: 20%;
    background-color: white;
    border-radius: 3%;
    height: 100%;
    row-gap: 5%;
}

.imagenProducto {
    width: 100%;
}

.botonCard {
    border: 1px solid silver;
    outline: none;
    padding: 3%;
    border-radius: 5%;
    background-color: white;
}

.precioProducto {
    font-size: 1rem;
}

.subtituloProducto {
    font-size: 1.4rem;
    margin-top: 10%;
}

.informacion{
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}